# Python
**/__pycache__/
*.pyc
*.pyo
*.py[cod]

# IDE Config
.idea/
.vscode/

# Result and Model
result/
*.pth
*.pt

# logs
*.log
profiler_logs/
/.history

*.png
*.tif
*.npz
.cursor/rules/env-rule.mdc

# Cache directories
**/basemap_cache/
**/*_cache/
/GIMF-P/MOTSP/backup
